__pycache__/
*.egg-info/
dist/
build/
*.pyc
.eggs/
uv.lock
.egg-info/
.ruff_cache/
.pytest_cache/
.mypy_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
coverage.xml
*.pyc
*/*.pyc
__pycache__/